@model TimeTracking.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(Model.ActiveTimeSheet != null)
    {
        <div>
            <h1>@Model.ActiveTimeSheet.WeekNumber</h1>
        </div>
    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>