@model TimeTracking.ViewModels.TimeSheetsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New TimeSheet</h1>

<h4>TimeSheet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TimeSheet.WeekNumber" class="control-label"></label>
                <input asp-for="TimeSheet.WeekNumber" class="form-control" value="@Model.TimeSheet.WeekNumber" />
                <span asp-validation-for="TimeSheet.WeekNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSheet.Notes" class="control-label"></label>
                <input asp-for="TimeSheet.Notes" class="form-control" />
                <span asp-validation-for="TimeSheet.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSheet.StartDate" class="control-label"></label>
                <input asp-for="TimeSheet.StartDate" class="form-control" />
                <span asp-validation-for="TimeSheet.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSheet.EndDate" class="control-label"></label>
                <input asp-for="TimeSheet.EndDate" class="form-control" />
                <span asp-validation-for="TimeSheet.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
